In [1]:
import pandas as pd
import numpy as np

In [7]:
bakery_sales = pd.read_csv('Bakery_sales.csv')
Coffee_sales = pd.read_csv('Coffee_Shop_Sales.csv')

In [22]:
#clean the unit_price column by removing the € sign and converting the column to float
bakery_sales["unit_price"] = (
    bakery_sales["unit_price"]
    .str.replace("€", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(" ", "", regex=False)
    .str.replace('"', "", regex=False)
    .str.strip()
    .astype(float)
)
#rename the columns to match the target schema
bakery_sales = bakery_sales.rename(
    columns={
        "ticket_number": "transaction_id",
        "date": "transaction_date",
        "time": "transaction_time",
        "Quantity": "transaction_qty",
        "article": "product_detail",
    }
)
#add the missing columns
bakery_sales["store_id"] = None
bakery_sales["store_location"] = None
bakery_sales["product_id"] = None
bakery_sales["product_category"] = "Bakery"
bakery_sales["product_type"] = None
#reorder the columns
bakery_sales = bakery_sales[
    [
        "transaction_id",
        "transaction_date",
        "transaction_time",
        "transaction_qty",
        "store_id",
        "store_location",
        "product_id",
        "unit_price",
        "product_category",
        "product_type",
        "product_detail",
    ]
]

In [23]:
bakery_sales.to_csv("bakery_sales_new.csv", index=False)

In [24]:
unique_categories = Coffee_sales['product_category'].unique()
print(unique_categories)

['Coffee' 'Tea' 'Drinking Chocolate' 'Bakery' 'Flavours' 'Loose Tea'
 'Coffee beans' 'Packaged Chocolate' 'Branded']

In [25]:
bakery_items = Coffee_sales[Coffee_sales['product_category'] == 'Bakery'][['product_type', 'product_detail']].drop_duplicates()
print(bakery_items.nunique())

product_type       3
product_detail    11
dtype: int64

In [26]:
bakery_sales_new = pd.read_csv("bakery_sales_new.csv")
bakery_items_new = bakery_sales_new[bakery_sales_new['product_category'] == 'Bakery'][['product_detail']].drop_duplicates()
print(bakery_items_new['product_detail'].unique())

['BAGUETTE' 'PAIN AU CHOCOLAT' 'PAIN' 'TRADITIONAL BAGUETTE' 'CROISSANT'
 'BANETTE' 'BANETTINE' 'SPECIAL BREAD' 'COUPE' 'SAND JB EMMENTAL'
 'KOUIGN AMANN' 'BOULE 200G' 'BOULE 400G' 'GAL FRANGIPANE 6P' 'CAMPAGNE'
 'MOISSON' 'CAFE OU EAU' 'BRIOCHE' 'CEREAL BAGUETTE' 'SEIGLE' 'COMPLET'
 'DIVERS PATISSERIE' 'GAL FRANGIPANE 4P' 'COOKIE' 'FICELLE'
 'PAIN AUX RAISINS' 'GAL POMME 6P' 'GAL POMME 4P' 'FINANCIER X5'
 'VIK BREAD' 'DIVERS VIENNOISERIE' 'GACHE' 'SANDWICH COMPLET'
 'PAIN BANETTE' 'GRAND FAR BRETON' 'QUIM BREAD' 'SPECIAL BREAD KG'
 'GD KOUIGN AMANN' 'BOULE POLKA' 'DEMI BAGUETTE' 'CHAUSSON AUX POMMES'
 'BAGUETTE GRAINE' 'DIVERS CONFISERIE' 'SUCETTE' 'DIVERS BOULANGERIE'
 'BOISSON 33CL' 'PATES' 'FORMULE SANDWICH' 'DIVERS SANDWICHS'
 'CROISSANT AMANDES' 'PAIN CHOCO AMANDES' 'SACHET VIENNOISERIE' 'NANTAIS'
 'CHOCOLAT' 'PAIN S/SEL' 'FONDANT CHOCOLAT' 'GAL POIRE CHOCO 6P'
 'GAL POIRE CHOCO 4P' 'GALETTE 8 PERS' 'SAND JB' 'SACHET DE CROUTON'
 'GRANDE SUCETTE' 'DEMI PAIN' 'TARTELETTE' 'FLAN' 'PARIS BREST' 'SAVARIN'
 'FLAN ABRICOT' 'BAGUETTE APERO' 'MILLES FEUILLES' 'CHOU CHANTILLY'
 'ECLAIR' 'ROYAL 4P' 'TARTE FRUITS 6P' 'TARTE FRUITS 4P' 'NOIX JAPONAISE'
 'THE' 'BRIOCHETTE' 'ROYAL 6P' 'ECLAIR FRAISE PISTACHE' '.'
 'GD FAR BRETON' 'TRIANGLES' 'TROPEZIENNE' 'TROPEZIENNE FRAMBOISE' 'ROYAL'
 'TARTE FRAISE 6P' 'TARTELETTE FRAISE' 'TARTE FRAISE 4PER' 'FRAISIER'
 'NID DE POULE' 'TARTELETTE CHOC' 'PAIN DE MIE' 'CRUMBLE' 'FINANCIER'
 'DIVERS BOISSONS' 'CAKE' 'VIENNOISE' 'TRAITEUR' 'PAIN GRAINES'
 'PLATPREPARE6,50' 'PLATPREPARE5,50' 'PLATPREPARE7,00'
 'FORMULE PLAT PREPARE' 'ST HONORE' 'BROWNIES' 'RELIGIEUSE'
 'PLATPREPARE6,00' 'DELICETROPICAL' 'CRUMBLECARAMEL OU PISTAE'
 'PT NANTAIS' 'GD NANTAIS' 'DOUCEUR D HIVER' 'TROIS CHOCOLAT'
 'ARTICLE 295' 'TARTE FINE' 'ENTREMETS' 'BRIOCHE DE NOEL' 'FRAMBOISIER'
 'BUCHE 4PERS' 'BUCHE 6PERS' 'GD PLATEAU SALE' 'BUCHE 8PERS'
 'PT PLATEAU SALE' 'REDUCTION SUCREES 12' 'PAIN NOIR'
 'REDUCTION SUCREES 24' 'BOTTEREAU' 'MERINGUE' 'PALMIER' 'PAILLE'
 'PLAT 6.50E' 'PLAT 7.60E' 'PLAT 7.00' 'PLAT' 'PLAT 8.30E' 'FORMULE PATE'
 'GUERANDAIS' 'PALET BRETON' 'CARAMEL NOIX' 'MACARON' '12 MACARON'
 'ARMORICAIN' 'PLAQUE TARTE 25P' 'SABLE F  P' 'PAIN SUISSE PEPITO'
 'TULIPE' 'TARTELETTE COCKTAIL' 'SACHET DE VIENNOISERIE']

In [27]:
def map_article_to_category(article):
    normalized = article.strip().upper()
    
    if "CAFE" in normalized:
        return "Coffee", "Coffee", article
    if normalized == "THE":
        return "Tea", "Tea", article
    
    category = "Bakery"
    
    breads = ['BAGUETTE', 'PAIN', 'BOULE', 'PAIN DE MIE', 'SEIGLE', 'VIK BREAD', 'PAIN BANETTE', 'PAIN NOIR']
    viennoiseries = ['PAIN AU CHOCOLAT', 'CROISSANT', 'KOUIGN AMANN', 'BRIOCHE', 'CHAUSSON', 'VIENNOISERIE']
    patisseries = ['TARTE', 'ECLAIR', 'FRAISIER', 'ST HONORE', 'MACARON', 'ENTREMETS', 'PARIS BREST', 'ROYAL', 'TROPEZIENNE',
                   'FINANCIER', 'CRUMBLE', 'MILLES FEUILLES', 'RELIGIEUSE', 'MERINGUE']
    sandwiches = ['SANDWICH', 'SAND JB', 'FORMULE SANDWICH']
    beverages = ['BOISSON', 'EAU']
    meals = ['PLAT', 'TRAITEUR', 'PLATEAU', 'FORMULE PLAT PREPARE', 'PLATPREPARE']
    confections = ['CONFISERIE', 'SUCETTE', 'CHOCOLAT', 'MERINGUE', 'SABLE', 'BONBON']
    
    if any(word in normalized for word in breads):
        prod_type = "Bread"
    elif any(word in normalized for word in viennoiseries):
        prod_type = "Viennoiserie"
    elif any(word in normalized for word in patisseries):
        prod_type = "Pâtisserie"
    elif any(word in normalized for word in sandwiches):
        prod_type = "Sandwich"
    elif any(word in normalized for word in meals):
        prod_type = "Meal/Traiteur"
    elif any(word in normalized for word in beverages):
        prod_type = "Beverage"
    elif any(word in normalized for word in confections):
        prod_type = "Confectionery"
    else:
        prod_type = "Other"
        
    return category, prod_type, article

bakery_sales_new[['product_category', 'product_type', 'product_detail']] = bakery_sales_new['product_detail'].apply(
    lambda x: pd.Series(map_article_to_category(x))
)

bakery_sales_new.to_csv("bakery_sales_merged.csv", index=False)

In [28]:
import pandas as pd

# Step 1: Create a mapping of product names to product IDs.
raw_product_names = [
    'BAGUETTE', 'PAIN AU CHOCOLAT', 'PAIN', 'TRADITIONAL BAGUETTE', 'CROISSANT',
    'BANETTE', 'BANETTINE', 'SPECIAL BREAD', 'COUPE', 'SAND JB EMMENTAL',
    'KOUIGN AMANN', 'BOULE 200G', 'BOULE 400G', 'GAL FRANGIPANE 6P', 'CAMPAGNE',
    'MOISSON', 'CAFE OU EAU', 'BRIOCHE', 'CEREAL BAGUETTE', 'SEIGLE', 'COMPLET',
    'DIVERS PATISSERIE', 'GAL FRANGIPANE 4P', 'COOKIE', 'FICELLE',
    'PAIN AUX RAISINS', 'GAL POMME 6P', 'GAL POMME 4P', 'FINANCIER X5',
    'VIK BREAD', 'DIVERS VIENNOISERIE', 'GACHE', 'SANDWICH COMPLET',
    'PAIN BANETTE', 'GRAND FAR BRETON', 'QUIM BREAD', 'SPECIAL BREAD KG',
    'GD KOUIGN AMANN', 'BOULE POLKA', 'DEMI BAGUETTE', 'CHAUSSON AUX POMMES',
    'BAGUETTE GRAINE', 'DIVERS CONFISERIE', 'SUCETTE', 'DIVERS BOULANGERIE',
    'BOISSON 33CL', 'PATES', 'FORMULE SANDWICH', 'DIVERS SANDWICHS',
    'CROISSANT AMANDES', 'PAIN CHOCO AMANDES', 'SACHET VIENNOISERIE', 'NANTAIS',
    'CHOCOLAT', 'PAIN S/SEL', 'FONDANT CHOCOLAT', 'GAL POIRE CHOCO 6P',
    'GAL POIRE CHOCO 4P', 'GALETTE 8 PERS', 'SAND JB', 'SACHET DE CROUTON',
    'GRANDE SUCETTE', 'DEMI PAIN', 'TARTELETTE', 'FLAN', 'PARIS BREST', 'SAVARIN',
    'FLAN ABRICOT', 'BAGUETTE APERO', 'MILLES FEUILLES', 'CHOU CHANTILLY',
    'ECLAIR', 'ROYAL 4P', 'TARTE FRUITS 6P', 'TARTE FRUITS 4P', 'NOIX JAPONAISE',
    'THE', 'BRIOCHETTE', 'ROYAL 6P', 'ECLAIR FRAISE PISTACHE', '.',
    'GD FAR BRETON', 'TRIANGLES', 'TROPEZIENNE', 'TROPEZIENNE FRAMBOISE', 'ROYAL',
    'TARTE FRAISE 6P', 'TARTELETTE FRAISE', 'TARTE FRAISE 4PER', 'FRAISIER',
    'NID DE POULE', 'TARTELETTE CHOC', 'PAIN DE MIE', 'CRUMBLE', 'FINANCIER',
    'DIVERS BOISSONS', 'CAKE', 'VIENNOISE', 'TRAITEUR', 'PAIN GRAINES',
    'PLATPREPARE6,50', 'PLATPREPARE5,50', 'PLATPREPARE7,00',
    'FORMULE PLAT PREPARE', 'ST HONORE', 'BROWNIES', 'RELIGIEUSE',
    'PLATPREPARE6,00', 'DELICETROPICAL', 'CRUMBLECARAMEL OU PISTAE',
    'PT NANTAIS', 'GD NANTAIS', 'DOUCEUR D HIVER', 'TROIS CHOCOLAT',
    'ARTICLE 295', 'TARTE FINE', 'ENTREMETS', 'BRIOCHE DE NOEL', 'FRAMBOISIER',
    'BUCHE 4PERS', 'BUCHE 6PERS', 'GD PLATEAU SALE', 'BUCHE 8PERS',
    'PT PLATEAU SALE', 'REDUCTION SUCREES 12', 'PAIN NOIR',
    'REDUCTION SUCREES 24', 'BOTTEREAU', 'MERINGUE', 'PALMIER', 'PAILLE',
    'PLAT 6.50E', 'PLAT 7.60E', 'PLAT 7.00', 'PLAT', 'PLAT 8.30E', 'FORMULE PATE',
    'GUERANDAIS', 'PALET BRETON', 'CARAMEL NOIX', 'MACARON', '12 MACARON',
    'ARMORICAIN', 'PLAQUE TARTE 25P', 'SABLE F  P', 'PAIN SUISSE PEPITO',
    'TULIPE', 'TARTELETTE COCKTAIL', 'SACHET DE VIENNOISERIE'
]

# Clean names: upper case and remove spaces.
clean_product_names = [name.strip().upper() for name in raw_product_names]

# Create a dictionary where each product name is mapped to a unique id.
product_map = {name: idx for idx, name in enumerate(clean_product_names, start=101)}

# Show the mapping information.
print("Product Mapping:")
for product, pid in product_map.items():
    print(f"{product}: {pid}")

# Read the cleaned sales file.
df = pd.read_csv('bakery_sales_merged.csv')

# Check missing values before fixing data.
print("\nMissing values before cleaning:")
print(df.isnull().sum())

# Clean product details and format the string.
df['product_detail'] = df['product_detail'].astype(str).str.strip().str.upper()

# Ensure product_id exists and fill missing ones with 0.
if 'product_id' not in df.columns:
    df['product_id'] = 0
else:
    df['product_id'] = df['product_id'].fillna(0)

# Map the product details to product IDs using the dictionary.
df['product_id'] = df.apply(
    lambda row: product_map.get(row['product_detail'], 999) if row['product_id'] == 0 else row['product_id'],
    axis=1
)

# Convert transaction ids to integer type.
df['transaction_id'] = df['transaction_id'].astype(int)

# Show missing values after cleaning.
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Product Mapping:
BAGUETTE: 101
PAIN AU CHOCOLAT: 102
PAIN: 103
TRADITIONAL BAGUETTE: 104
CROISSANT: 105
BANETTE: 106
BANETTINE: 107
SPECIAL BREAD: 108
COUPE: 109
SAND JB EMMENTAL: 110
KOUIGN AMANN: 111
BOULE 200G: 112
BOULE 400G: 113
GAL FRANGIPANE 6P: 114
CAMPAGNE: 115
MOISSON: 116
CAFE OU EAU: 117
BRIOCHE: 118
CEREAL BAGUETTE: 119
SEIGLE: 120
COMPLET: 121
DIVERS PATISSERIE: 122
GAL FRANGIPANE 4P: 123
COOKIE: 124
FICELLE: 125
PAIN AUX RAISINS: 126
GAL POMME 6P: 127
GAL POMME 4P: 128
FINANCIER X5: 129
VIK BREAD: 130
DIVERS VIENNOISERIE: 131
GACHE: 132
SANDWICH COMPLET: 133
PAIN BANETTE: 134
GRAND FAR BRETON: 135
QUIM BREAD: 136
SPECIAL BREAD KG: 137
GD KOUIGN AMANN: 138
BOULE POLKA: 139
DEMI BAGUETTE: 140
CHAUSSON AUX POMMES: 141
BAGUETTE GRAINE: 142
DIVERS CONFISERIE: 143
SUCETTE: 144
DIVERS BOULANGERIE: 145
BOISSON 33CL: 146
PATES: 147
FORMULE SANDWICH: 148
DIVERS SANDWICHS: 149
CROISSANT AMANDES: 150
PAIN CHOCO AMANDES: 151
SACHET VIENNOISERIE: 152
NANTAIS: 153
CHOCOLAT: 154
PAIN S/SEL: 155
FONDANT CHOCOLAT: 156
GAL POIRE CHOCO 6P: 157
GAL POIRE CHOCO 4P: 158
GALETTE 8 PERS: 159
SAND JB: 160
SACHET DE CROUTON: 161
GRANDE SUCETTE: 162
DEMI PAIN: 163
TARTELETTE: 164
FLAN: 165
PARIS BREST: 166
SAVARIN: 167
FLAN ABRICOT: 168
BAGUETTE APERO: 169
MILLES FEUILLES: 170
CHOU CHANTILLY: 171
ECLAIR: 172
ROYAL 4P: 173
TARTE FRUITS 6P: 174
TARTE FRUITS 4P: 175
NOIX JAPONAISE: 176
THE: 177
BRIOCHETTE: 178
ROYAL 6P: 179
ECLAIR FRAISE PISTACHE: 180
.: 181
GD FAR BRETON: 182
TRIANGLES: 183
TROPEZIENNE: 184
TROPEZIENNE FRAMBOISE: 185
ROYAL: 186
TARTE FRAISE 6P: 187
TARTELETTE FRAISE: 188
TARTE FRAISE 4PER: 189
FRAISIER: 190
NID DE POULE: 191
TARTELETTE CHOC: 192
PAIN DE MIE: 193
CRUMBLE: 194
FINANCIER: 195
DIVERS BOISSONS: 196
CAKE: 197
VIENNOISE: 198
TRAITEUR: 199
PAIN GRAINES: 200
PLATPREPARE6,50: 201
PLATPREPARE5,50: 202
PLATPREPARE7,00: 203
FORMULE PLAT PREPARE: 204
ST HONORE: 205
BROWNIES: 206
RELIGIEUSE: 207
PLATPREPARE6,00: 208
DELICETROPICAL: 209
CRUMBLECARAMEL OU PISTAE: 210
PT NANTAIS: 211
GD NANTAIS: 212
DOUCEUR D HIVER: 213
TROIS CHOCOLAT: 214
ARTICLE 295: 215
TARTE FINE: 216
ENTREMETS: 217
BRIOCHE DE NOEL: 218
FRAMBOISIER: 219
BUCHE 4PERS: 220
BUCHE 6PERS: 221
GD PLATEAU SALE: 222
BUCHE 8PERS: 223
PT PLATEAU SALE: 224
REDUCTION SUCREES 12: 225
PAIN NOIR: 226
REDUCTION SUCREES 24: 227
BOTTEREAU: 228
MERINGUE: 229
PALMIER: 230
PAILLE: 231
PLAT 6.50E: 232
PLAT 7.60E: 233
PLAT 7.00: 234
PLAT: 235
PLAT 8.30E: 236
FORMULE PATE: 237
GUERANDAIS: 238
PALET BRETON: 239
CARAMEL NOIX: 240
MACARON: 241
12 MACARON: 242
ARMORICAIN: 243
PLAQUE TARTE 25P: 244
SABLE F  P: 245
PAIN SUISSE PEPITO: 246
TULIPE: 247
TARTELETTE COCKTAIL: 248
SACHET DE VIENNOISERIE: 249

Missing values before cleaning:
transaction_id           0
transaction_date         0
transaction_time         0
transaction_qty          0
store_id            234005
store_location      234005
product_id          234005
unit_price               0
product_category         0
product_type             0
product_detail           0
dtype: int64

Missing values after cleaning:
transaction_id           0
transaction_date         0
transaction_time         0
transaction_qty          0
store_id            234005
store_location      234005
product_id               0
unit_price               0
product_category         0
product_type             0
product_detail           0
dtype: int64

In [29]:
unique_stores = Coffee_sales[['store_id', 'store_location']].drop_duplicates()
unique_tickets = bakery_sales['transaction_id'].unique()

# Attribute a random store to each transaction
np.random.seed(42)
ticket_store_mapping = {ticket: np.random.choice(unique_stores['store_id']) for ticket in unique_tickets}

df['store_id'] = bakery_sales['transaction_id'].map(ticket_store_mapping)
df['store_location'] = df['store_id'].map(unique_stores.set_index('store_id')['store_location'])

df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,150040,2021-01-02,08:38,1.0,3,Astoria,101,0.90,Bakery,Bread,BAGUETTE
1,150040,2021-01-02,08:38,3.0,3,Astoria,102,1.20,Bakery,Bread,PAIN AU CHOCOLAT
2,150041,2021-01-02,09:14,2.0,5,Lower Manhattan,102,1.20,Bakery,Bread,PAIN AU CHOCOLAT
3,150041,2021-01-02,09:14,1.0,5,Lower Manhattan,103,1.15,Bakery,Bread,PAIN
4,150042,2021-01-02,09:25,5.0,3,Astoria,104,1.20,Bakery,Bread,TRADITIONAL BAGUETTE

In [ ]:
# Save the cleaned data to a csv file.
output_filename = 'Bakery_sales_cleaned.csv'
df.to_csv(output_filename, index=False)
print(f"\nCleaning complete. Cleaned data saved as '{output_filename}'.")

In [30]:
df = pd.read_csv("Bakery_sales_cleaned.csv")
df['sales_id'] = range(1, len(df) + 1)
df.to_csv("Bakery_sales_cleaned.csv", index=False)

df2 = pd.read_csv("Coffee_Shop_Sales.csv") 
df2['sales_id'] = range(1, len(df2) + 1)
df2.to_csv("Coffee_Shop_Sales.csv", index=False)

print(df['sales_id'].head())
print(df2['sales_id'].head())

0    1
1    2
2    3
3    4
4    5
Name: sales_id, dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: sales_id, dtype: int64

![Local Image](erd.png)

In [ ]:
CREATE TABLE Store (
    store_id INT PRIMARY KEY,
    store_location VARCHAR(255)
);

CREATE TABLE Transactions (
    sale_id INT PRIMARY KEY,
    transaction_id INT,
    transaction_date DATE,
    transaction_time TIME,
    transaction_qty INT,
    store_id INT,
    product_id INT,
    FOREIGN KEY (store_id) REFERENCES Store(store_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);

CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    product_category VARCHAR(255) NOT NULL,  
    product_type VARCHAR(255),              
    product_detail VARCHAR(255),             
    unit_price DECIMAL(10,2) NOT NULL
);

In [31]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="OntoDb",
    user="ontodb",
    password="admin"
)
cursor = conn.cursor()

cursor.execute("SELECT current_user;")
print("Connected as:", cursor.fetchone())

cursor.execute("SELECT version();")
print("PostgreSQL version:", cursor.fetchone())

cursor.execute("""
CREATE TABLE IF NOT EXISTS Product (
    product_id INT PRIMARY KEY,
    product_category VARCHAR(255) NOT NULL,  
    product_type VARCHAR(255),              
    product_detail VARCHAR(255),             
    unit_price DECIMAL(10,2) NOT NULL
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Store (
    store_id INT PRIMARY KEY,
    store_location VARCHAR(255)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Transactions (
    sale_id INT PRIMARY KEY,
    transaction_id INT,
    transaction_date DATE,
    transaction_time TIME,
    transaction_qty INT,
    store_id INT,
    product_id INT,
    FOREIGN KEY (store_id) REFERENCES Store(store_id),
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);
""")

conn.commit()
cursor.close()
conn.close()

Connected as: ('ontodb',)
PostgreSQL version: ('PostgreSQL 17.4 (Debian 17.4-1.pgdg120+2) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [32]:
from sqlalchemy import create_engine
db = create_engine("postgresql://ontodb:admin@localhost/OntoDb")

In [33]:
#Followed online tutorial reference : https://www.geeksforgeeks.org/how-to-insert-a-pandas-dataframe-to-an-existing-postgresql-table/


Coffee_sales = pd.read_csv('Coffee_Shop_Sales.csv')

# Write the bakery sales data into the database.
df.to_sql('bakery_sales_data', con=db, if_exists='replace', index=False)

# Also add the Coffee_Shop_Sales.csv data into the database.
Coffee_sales.to_sql('coffee_sales_data', con=db, if_exists='replace', index=False)

# Query and display 5 rows from the bakery sales table.
import psycopg2

conn_db = psycopg2.connect(host="localhost", database="OntoDb", user="ontodb", password="admin")
conn_db.autocommit = True
cursor = conn_db.cursor()

print("Bakery Sales Data (first 5 rows):")
sql_query = "SELECT * FROM bakery_sales_data LIMIT 5;"
cursor.execute(sql_query)
for row in cursor.fetchall():
    print(row)

print("\nCoffee Shop Sales Data (first 5 rows):")
sql_query_coffee = "SELECT * FROM coffee_sales_data LIMIT 5;"
cursor.execute(sql_query_coffee)
for row in cursor.fetchall():
    print(row)

cursor.close()
conn_db.close()

Bakery Sales Data (first 5 rows):
(150040, '2021-01-02', '08:38', 1.0, 3, 'Astoria', 101, 0.9, 'Bakery', 'Bread', 'BAGUETTE', 1)
(150040, '2021-01-02', '08:38', 3.0, 3, 'Astoria', 102, 1.2, 'Bakery', 'Bread', 'PAIN AU CHOCOLAT', 2)
(150041, '2021-01-02', '09:14', 2.0, 5, 'Lower Manhattan', 102, 1.2, 'Bakery', 'Bread', 'PAIN AU CHOCOLAT', 3)
(150041, '2021-01-02', '09:14', 1.0, 5, 'Lower Manhattan', 103, 1.15, 'Bakery', 'Bread', 'PAIN', 4)
(150042, '2021-01-02', '09:25', 5.0, 3, 'Astoria', 104, 1.2, 'Bakery', 'Bread', 'TRADITIONAL BAGUETTE', 5)

Coffee Shop Sales Data (first 5 rows):
(1, '2023-01-01', '07:06:11', 2, 5, 'Lower Manhattan', 32, 3.0, 'Coffee', 'Gourmet brewed coffee', 'Ethiopia Rg', 1)
(2, '2023-01-01', '07:08:56', 2, 5, 'Lower Manhattan', 57, 3.1, 'Tea', 'Brewed Chai tea', 'Spicy Eye Opener Chai Lg', 2)
(3, '2023-01-01', '07:14:04', 2, 5, 'Lower Manhattan', 59, 4.5, 'Drinking Chocolate', 'Hot chocolate', 'Dark chocolate Lg', 3)
(4, '2023-01-01', '07:20:24', 1, 5, 'Lower Manhattan', 22, 2.0, 'Coffee', 'Drip coffee', 'Our Old Time Diner Blend Sm', 4)
(5, '2023-01-01', '07:22:41', 2, 5, 'Lower Manhattan', 57, 3.1, 'Tea', 'Brewed Chai tea', 'Spicy Eye Opener Chai Lg', 5)

In [34]:
from sqlalchemy import text

with db.connect() as conn:
    count_query = text("SELECT COUNT(*) FROM bakery_sales_data;")
    total_rows = conn.execute(count_query).scalar()
    print(f"Total rows in bakery sales: {total_rows}")

with db.connect() as conn:
    count_query = text("SELECT COUNT(*) FROM coffee_sales_data;")
    total_rows = conn.execute(count_query).scalar()
    print("Total rows in Coffee sales:", total_rows)

Total rows in bakery sales: 234005
Total rows in Coffee sales: 149116

# PART 2: Populate the Schema with  Data

In [35]:
import psycopg2
import pandas as pd

df_a = pd.read_csv("Bakery_sales_cleaned.csv")
df_b = pd.read_csv("Coffee_Shop_Sales.csv")
df_merged = pd.concat([df_a, df_b], ignore_index=True)

tbl_products = df_merged[["product_id","product_category","product_type","product_detail","unit_price"]].drop_duplicates()
tbl_stores = df_merged[["store_id","store_location"]].drop_duplicates()
tbl_transactions = df_merged[["sales_id","transaction_id","transaction_date","transaction_time","transaction_qty","store_id","product_id"]]

cn = psycopg2.connect(host="localhost", database="OntoDb", user="ontodb", password="admin")
cr = cn.cursor()

sql_products = """
INSERT INTO Product (product_id, product_category, product_type, product_detail, unit_price)
VALUES (%s, %s, %s, %s, %s)
ON CONFLICT (product_id) DO NOTHING;
"""
sql_stores = """
INSERT INTO Store (store_id, store_location)
VALUES (%s, %s)
ON CONFLICT (store_id) DO NOTHING;
"""
sql_transactions = """
INSERT INTO Transactions (sale_id, transaction_id, transaction_date, transaction_time, transaction_qty, store_id, product_id)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (sale_id) DO NOTHING;
"""

cr.executemany(sql_products, list(tbl_products.itertuples(index=False, name=None)))
cr.executemany(sql_stores, list(tbl_stores.itertuples(index=False, name=None)))
cr.executemany(sql_transactions, list(tbl_transactions.itertuples(index=False, name=None)))

cn.commit()
cr.close()
cn.close()

print("Data loaded successfully.")

Data loaded successfully.

In [37]:
import psycopg2

connection = psycopg2.connect(
    host="localhost",
    database="OntoDb",
    user="ontodb",
    password="admin"
)
cur = connection.cursor()

cur.execute("SELECT * FROM Product LIMIT 100;")
product_data = cur.fetchall()
print("Product Table:")
for row in product_data:
    print(row)

cur.execute("SELECT * FROM Store LIMIT 100;")
store_data = cur.fetchall()
print("\nStore Table:")
for row in store_data:
    print(row)

cur.execute("SELECT * FROM Transactions LIMIT 100;")
transaction_data = cur.fetchall()
print("\nTransactions Table:")
for row in transaction_data:
    print(row)

cur.close()
connection.close()

Product Table:
(101, 'Bakery', 'Bread', 'BAGUETTE', Decimal('0.90'))
(102, 'Bakery', 'Bread', 'PAIN AU CHOCOLAT', Decimal('1.20'))
(103, 'Bakery', 'Bread', 'PAIN', Decimal('1.15'))
(104, 'Bakery', 'Bread', 'TRADITIONAL BAGUETTE', Decimal('1.20'))
(105, 'Bakery', 'Viennoiserie', 'CROISSANT', Decimal('1.10'))
(106, 'Bakery', 'Other', 'BANETTE', Decimal('1.05'))
(107, 'Bakery', 'Other', 'BANETTINE', Decimal('0.60'))
(108, 'Bakery', 'Other', 'SPECIAL BREAD', Decimal('2.40'))
(109, 'Bakery', 'Other', 'COUPE', Decimal('0.15'))
(110, 'Bakery', 'Sandwich', 'SAND JB EMMENTAL', Decimal('3.50'))
(111, 'Bakery', 'Viennoiserie', 'KOUIGN AMANN', Decimal('2.10'))
(112, 'Bakery', 'Bread', 'BOULE 200G', Decimal('1.10'))
(113, 'Bakery', 'Bread', 'BOULE 400G', Decimal('1.50'))
(114, 'Bakery', 'Other', 'GAL FRANGIPANE 6P', Decimal('12.00'))
(115, 'Bakery', 'Other', 'CAMPAGNE', Decimal('1.80'))
(116, 'Bakery', 'Other', 'MOISSON', Decimal('2.00'))
(117, 'Coffee', 'Coffee', 'CAFE OU EAU', Decimal('1.00'))
(118, 'Bakery', 'Viennoiserie', 'BRIOCHE', Decimal('5.00'))
(119, 'Bakery', 'Bread', 'CEREAL BAGUETTE', Decimal('1.25'))
(120, 'Bakery', 'Bread', 'SEIGLE', Decimal('1.80'))
(121, 'Bakery', 'Other', 'COMPLET', Decimal('1.50'))
(122, 'Bakery', 'Other', 'DIVERS PATISSERIE', Decimal('0.00'))
(123, 'Bakery', 'Other', 'GAL FRANGIPANE 4P', Decimal('8.00'))
(124, 'Bakery', 'Other', 'COOKIE', Decimal('1.00'))
(125, 'Bakery', 'Other', 'FICELLE', Decimal('0.60'))
(126, 'Bakery', 'Bread', 'PAIN AUX RAISINS', Decimal('1.40'))
(127, 'Bakery', 'Other', 'GAL POMME 6P', Decimal('12.00'))
(128, 'Bakery', 'Other', 'GAL POMME 4P', Decimal('8.00'))
(129, 'Bakery', 'Pâtisserie', 'FINANCIER X5', Decimal('3.00'))
(130, 'Bakery', 'Bread', 'VIK BREAD', Decimal('2.50'))
(131, 'Bakery', 'Viennoiserie', 'DIVERS VIENNOISERIE', Decimal('4.00'))
(132, 'Bakery', 'Other', 'GACHE', Decimal('5.00'))
(133, 'Bakery', 'Sandwich', 'SANDWICH COMPLET', Decimal('4.50'))
(134, 'Bakery', 'Bread', 'PAIN BANETTE', Decimal('1.40'))
(135, 'Bakery', 'Other', 'GRAND FAR BRETON', Decimal('7.00'))
(136, 'Bakery', 'Other', 'QUIM BREAD', Decimal('1.00'))
(137, 'Bakery', 'Other', 'SPECIAL BREAD KG', Decimal('4.80'))
(138, 'Bakery', 'Viennoiserie', 'GD KOUIGN AMANN', Decimal('7.50'))
(139, 'Bakery', 'Bread', 'BOULE POLKA', Decimal('1.60'))
(140, 'Bakery', 'Bread', 'DEMI BAGUETTE', Decimal('0.45'))
(141, 'Bakery', 'Viennoiserie', 'CHAUSSON AUX POMMES', Decimal('1.40'))
(142, 'Bakery', 'Bread', 'BAGUETTE GRAINE', Decimal('1.30'))
(143, 'Bakery', 'Confectionery', 'DIVERS CONFISERIE', Decimal('3.00'))
(144, 'Bakery', 'Confectionery', 'SUCETTE', Decimal('0.30'))
(145, 'Bakery', 'Other', 'DIVERS BOULANGERIE', Decimal('2.00'))
(146, 'Bakery', 'Beverage', 'BOISSON 33CL', Decimal('1.50'))
(147, 'Bakery', 'Other', 'PATES', Decimal('4.50'))
(148, 'Bakery', 'Sandwich', 'FORMULE SANDWICH', Decimal('6.50'))
(149, 'Bakery', 'Sandwich', 'DIVERS SANDWICHS', Decimal('2.50'))
(150, 'Bakery', 'Viennoiserie', 'CROISSANT AMANDES', Decimal('1.40'))
(151, 'Bakery', 'Bread', 'PAIN CHOCO AMANDES', Decimal('1.50'))
(152, 'Bakery', 'Viennoiserie', 'SACHET VIENNOISERIE', Decimal('4.00'))
(153, 'Bakery', 'Other', 'NANTAIS', Decimal('2.50'))
(154, 'Bakery', 'Confectionery', 'CHOCOLAT', Decimal('1.50'))
(155, 'Bakery', 'Bread', 'PAIN S/SEL', Decimal('1.50'))
(156, 'Bakery', 'Confectionery', 'FONDANT CHOCOLAT', Decimal('2.50'))
(157, 'Bakery', 'Other', 'GAL POIRE CHOCO 6P', Decimal('12.00'))
(158, 'Bakery', 'Other', 'GAL POIRE CHOCO 4P', Decimal('8.00'))
(159, 'Bakery', 'Other', 'GALETTE 8 PERS', Decimal('16.00'))
(160, 'Bakery', 'Sandwich', 'SAND JB', Decimal('3.00'))
(161, 'Bakery', 'Other', 'SACHET DE CROUTON', Decimal('1.60'))
(162, 'Bakery', 'Confectionery', 'GRANDE SUCETTE', Decimal('0.60'))
(163, 'Bakery', 'Bread', 'DEMI PAIN', Decimal('0.60'))
(164, 'Bakery', 'Pâtisserie', 'TARTELETTE', Decimal('2.00'))
(165, 'Bakery', 'Other', 'FLAN', Decimal('2.00'))
(166, 'Bakery', 'Pâtisserie', 'PARIS BREST', Decimal('2.00'))
(167, 'Bakery', 'Other', 'SAVARIN', Decimal('2.00'))
(168, 'Bakery', 'Other', 'FLAN ABRICOT', Decimal('2.10'))
(169, 'Bakery', 'Bread', 'BAGUETTE APERO', Decimal('4.50'))
(170, 'Bakery', 'Pâtisserie', 'MILLES FEUILLES', Decimal('2.00'))
(171, 'Bakery', 'Other', 'CHOU CHANTILLY', Decimal('2.00'))
(172, 'Bakery', 'Pâtisserie', 'ECLAIR', Decimal('2.00'))
(173, 'Bakery', 'Pâtisserie', 'ROYAL 4P', Decimal('12.00'))
(174, 'Bakery', 'Pâtisserie', 'TARTE FRUITS 6P', Decimal('12.00'))
(175, 'Bakery', 'Pâtisserie', 'TARTE FRUITS 4P', Decimal('9.00'))
(176, 'Bakery', 'Other', 'NOIX JAPONAISE', Decimal('2.00'))
(177, 'Tea', 'Tea', 'THE', Decimal('1.50'))
(178, 'Bakery', 'Viennoiserie', 'BRIOCHETTE', Decimal('0.80'))
(179, 'Bakery', 'Pâtisserie', 'ROYAL 6P', Decimal('18.00'))
(180, 'Bakery', 'Pâtisserie', 'ECLAIR FRAISE PISTACHE', Decimal('2.10'))
(181, 'Bakery', 'Other', '.', Decimal('0.00'))
(182, 'Bakery', 'Other', 'GD FAR BRETON', Decimal('0.00'))
(183, 'Bakery', 'Other', 'TRIANGLES', Decimal('2.50'))
(184, 'Bakery', 'Pâtisserie', 'TROPEZIENNE', Decimal('2.00'))
(185, 'Bakery', 'Pâtisserie', 'TROPEZIENNE FRAMBOISE', Decimal('2.10'))
(186, 'Bakery', 'Pâtisserie', 'ROYAL', Decimal('3.00'))
(187, 'Bakery', 'Pâtisserie', 'TARTE FRAISE 6P', Decimal('18.00'))
(188, 'Bakery', 'Pâtisserie', 'TARTELETTE FRAISE', Decimal('3.00'))
(189, 'Bakery', 'Pâtisserie', 'TARTE FRAISE 4PER', Decimal('12.00'))
(190, 'Bakery', 'Pâtisserie', 'FRAISIER', Decimal('3.00'))
(191, 'Bakery', 'Other', 'NID DE POULE', Decimal('2.50'))
(192, 'Bakery', 'Pâtisserie', 'TARTELETTE CHOC', Decimal('2.50'))
(193, 'Bakery', 'Bread', 'PAIN DE MIE', Decimal('2.00'))
(194, 'Bakery', 'Pâtisserie', 'CRUMBLE', Decimal('2.00'))
(195, 'Bakery', 'Pâtisserie', 'FINANCIER', Decimal('0.70'))
(196, 'Bakery', 'Beverage', 'DIVERS BOISSONS', Decimal('2.00'))
(197, 'Bakery', 'Other', 'CAKE', Decimal('3.00'))
(198, 'Bakery', 'Other', 'VIENNOISE', Decimal('1.10'))
(199, 'Bakery', 'Meal/Traiteur', 'TRAITEUR', Decimal('1.50'))
(200, 'Bakery', 'Bread', 'PAIN GRAINES', Decimal('2.00'))

Store Table:
(3, 'Astoria')
(5, 'Lower Manhattan')
(8, "Hell's Kitchen")

Transactions Table:
(1, 150040, datetime.date(2021, 1, 2), datetime.time(8, 38), 1, 3, 101)
(2, 150040, datetime.date(2021, 1, 2), datetime.time(8, 38), 3, 3, 102)
(3, 150041, datetime.date(2021, 1, 2), datetime.time(9, 14), 2, 5, 102)
(4, 150041, datetime.date(2021, 1, 2), datetime.time(9, 14), 1, 5, 103)
(5, 150042, datetime.date(2021, 1, 2), datetime.time(9, 25), 5, 3, 104)
(6, 150043, datetime.date(2021, 1, 2), datetime.time(9, 25), 2, 3, 101)
(7, 150043, datetime.date(2021, 1, 2), datetime.time(9, 25), 3, 3, 105)
(8, 150044, datetime.date(2021, 1, 2), datetime.time(9, 27), 1, 5, 106)
(9, 150045, datetime.date(2021, 1, 2), datetime.time(9, 32), 3, 5, 104)
(10, 150045, datetime.date(2021, 1, 2), datetime.time(9, 32), 6, 5, 105)
(11, 150046, datetime.date(2021, 1, 2), datetime.time(9, 37), 6, 3, 102)
(12, 150046, datetime.date(2021, 1, 2), datetime.time(9, 37), 6, 3, 105)
(13, 150046, datetime.date(2021, 1, 2), datetime.time(9, 37), 6, 3, 104)
(14, 150048, datetime.date(2021, 1, 2), datetime.time(9, 39), 3, 8, 105)
(15, 150049, datetime.date(2021, 1, 2), datetime.time(9, 40), 2, 3, 105)
(16, 150049, datetime.date(2021, 1, 2), datetime.time(9, 40), 1, 3, 104)
(17, 150050, datetime.date(2021, 1, 2), datetime.time(9, 41), 2, 3, 104)
(18, 150051, datetime.date(2021, 1, 2), datetime.time(9, 46), 1, 3, 103)
(19, 150052, datetime.date(2021, 1, 2), datetime.time(9, 48), 1, 3, 107)
(20, 150052, datetime.date(2021, 1, 2), datetime.time(9, 48), 1, 3, 108)
(21, 150052, datetime.date(2021, 1, 2), datetime.time(9, 48), 1, 3, 109)
(22, 150053, datetime.date(2021, 1, 2), datetime.time(9, 48), 1, 5, 104)
(23, 150053, datetime.date(2021, 1, 2), datetime.time(9, 48), 2, 5, 110)
(24, 150054, datetime.date(2021, 1, 2), datetime.time(9, 49), 1, 3, 111)
(25, 150054, datetime.date(2021, 1, 2), datetime.time(9, 49), 2, 3, 103)
(26, 150055, datetime.date(2021, 1, 2), datetime.time(9, 57), 4, 8, 104)
(27, 150056, datetime.date(2021, 1, 2), datetime.time(9, 58), 3, 5, 106)
(28, 150056, datetime.date(2021, 1, 2), datetime.time(9, 58), 5, 5, 105)
(29, 150058, datetime.date(2021, 1, 2), datetime.time(10, 3), 2, 8, 104)
(30, 150058, datetime.date(2021, 1, 2), datetime.time(10, 3), 2, 8, 105)
(31, 150058, datetime.date(2021, 1, 2), datetime.time(10, 3), 2, 8, 102)
(32, 150059, datetime.date(2021, 1, 2), datetime.time(10, 4), 4, 8, 104)
(33, 150060, datetime.date(2021, 1, 2), datetime.time(10, 5), 4, 8, 104)
(34, 150061, datetime.date(2021, 1, 2), datetime.time(10, 12), 1, 8, 108)
(35, 150061, datetime.date(2021, 1, 2), datetime.time(10, 12), 1, 8, 109)
(36, 150061, datetime.date(2021, 1, 2), datetime.time(10, 12), 1, 8, 112)
(37, 150061, datetime.date(2021, 1, 2), datetime.time(10, 12), 1, 8, 109)
(38, 150062, datetime.date(2021, 1, 2), datetime.time(10, 17), 1, 5, 108)
(39, 150062, datetime.date(2021, 1, 2), datetime.time(10, 17), 3, 5, 109)
(40, 150062, datetime.date(2021, 1, 2), datetime.time(10, 17), 2, 5, 113)
(41, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 1, 5, 109)
(42, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 1, 5, 114)
(43, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 1, 5, 115)
(44, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 1, 5, 109)
(45, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 1, 5, 116)
(46, 150063, datetime.date(2021, 1, 2), datetime.time(10, 18), 2, 5, 104)
(47, 150064, datetime.date(2021, 1, 2), datetime.time(10, 22), 1, 8, 110)
(48, 150065, datetime.date(2021, 1, 2), datetime.time(10, 22), 1, 8, 110)
(49, 150065, datetime.date(2021, 1, 2), datetime.time(10, 22), 2, 8, 117)
(50, 150066, datetime.date(2021, 1, 2), datetime.time(10, 24), 1, 5, 104)
(51, 150066, datetime.date(2021, 1, 2), datetime.time(10, 24), 1, 5, 101)
(52, 150066, datetime.date(2021, 1, 2), datetime.time(10, 24), 2, 5, 102)
(53, 150066, datetime.date(2021, 1, 2), datetime.time(10, 24), 2, 5, 105)
(54, 150067, datetime.date(2021, 1, 2), datetime.time(10, 24), 2, 5, 105)
(55, 150067, datetime.date(2021, 1, 2), datetime.time(10, 24), 1, 5, 104)
(56, 150068, datetime.date(2021, 1, 2), datetime.time(10, 25), 2, 5, 107)
(57, 150069, datetime.date(2021, 1, 2), datetime.time(10, 29), 1, 3, 106)
(58, 150069, datetime.date(2021, 1, 2), datetime.time(10, 29), 2, 3, 111)
(59, 150069, datetime.date(2021, 1, 2), datetime.time(10, 29), 1, 3, 118)
(60, 150069, datetime.date(2021, 1, 2), datetime.time(10, 29), 2, 3, 119)
(61, 150070, datetime.date(2021, 1, 2), datetime.time(10, 33), 2, 3, 105)
(62, 150070, datetime.date(2021, 1, 2), datetime.time(10, 33), 1, 3, 106)
(63, 150070, datetime.date(2021, 1, 2), datetime.time(10, 33), 2, 3, 102)
(64, 150071, datetime.date(2021, 1, 2), datetime.time(10, 34), 2, 3, 104)
(65, 150071, datetime.date(2021, 1, 2), datetime.time(10, 34), 4, 3, 102)
(66, 150071, datetime.date(2021, 1, 2), datetime.time(10, 34), 2, 3, 105)
(67, 150072, datetime.date(2021, 1, 2), datetime.time(10, 39), 1, 8, 104)
(68, 150073, datetime.date(2021, 1, 2), datetime.time(10, 40), 1, 3, 104)
(69, 150074, datetime.date(2021, 1, 2), datetime.time(10, 42), 1, 8, 107)
(70, 150075, datetime.date(2021, 1, 2), datetime.time(10, 44), 1, 8, 109)
(71, 150075, datetime.date(2021, 1, 2), datetime.time(10, 44), 1, 8, 120)
(72, 150076, datetime.date(2021, 1, 2), datetime.time(10, 46), 2, 3, 104)
(73, 150077, datetime.date(2021, 1, 2), datetime.time(10, 49), 1, 8, 121)
(74, 150077, datetime.date(2021, 1, 2), datetime.time(10, 49), 2, 8, 102)
(75, 150077, datetime.date(2021, 1, 2), datetime.time(10, 49), 2, 8, 105)
(76, 150078, datetime.date(2021, 1, 2), datetime.time(10, 50), 1, 3, 104)
(77, 150078, datetime.date(2021, 1, 2), datetime.time(10, 50), 1, 3, 114)
(78, 150079, datetime.date(2021, 1, 2), datetime.time(10, 51), 1, 3, 101)
(79, 150079, datetime.date(2021, 1, 2), datetime.time(10, 51), 1, 3, 122)
(80, 150079, datetime.date(2021, 1, 2), datetime.time(10, 51), 1, 3, 108)
(81, 150079, datetime.date(2021, 1, 2), datetime.time(10, 51), 1, 3, 123)
(82, 150080, datetime.date(2021, 1, 2), datetime.time(10, 53), 2, 5, 104)
(83, 150080, datetime.date(2021, 1, 2), datetime.time(10, 53), 3, 5, 105)
(84, 150081, datetime.date(2021, 1, 2), datetime.time(10, 54), 1, 3, 104)
(85, 150082, datetime.date(2021, 1, 2), datetime.time(10, 54), 4, 5, 104)
(86, 150083, datetime.date(2021, 1, 2), datetime.time(10, 54), 1, 3, 104)
(87, 150084, datetime.date(2021, 1, 2), datetime.time(10, 55), 1, 3, 119)
(88, 150084, datetime.date(2021, 1, 2), datetime.time(10, 55), 1, 3, 124)
(89, 150084, datetime.date(2021, 1, 2), datetime.time(10, 55), 4, 3, 102)
(90, 150084, datetime.date(2021, 1, 2), datetime.time(10, 55), 4, 3, 105)
(91, 150085, datetime.date(2021, 1, 2), datetime.time(10, 56), 4, 5, 104)
(92, 150086, datetime.date(2021, 1, 2), datetime.time(10, 57), 1, 5, 102)
(93, 150086, datetime.date(2021, 1, 2), datetime.time(10, 57), 1, 5, 119)
(94, 150086, datetime.date(2021, 1, 2), datetime.time(10, 57), 2, 5, 105)
(95, 150087, datetime.date(2021, 1, 2), datetime.time(10, 58), 2, 3, 101)
(96, 150088, datetime.date(2021, 1, 2), datetime.time(11, 4), 2, 8, 104)
(97, 150089, datetime.date(2021, 1, 2), datetime.time(11, 6), 1, 5, 101)
(98, 150090, datetime.date(2021, 1, 2), datetime.time(11, 8), 1, 8, 117)
(99, 150090, datetime.date(2021, 1, 2), datetime.time(11, 8), 1, 8, 102)
(100, 150090, datetime.date(2021, 1, 2), datetime.time(11, 8), 1, 8, 105)

# To clean the tables elements from the db (if needed)

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="OntoDb",
    user="ontodb",
    password="admin"
)
cursor = conn.cursor()

cursor.execute("""
    TRUNCATE TABLE Product, Store, Transactions 
    RESTART IDENTITY CASCADE;
""")

conn.commit()
cursor.close()
conn.close()

print("Cleaned all data from the tables.")